body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #232b2b;
}
p {
    color: #FBFAF5;
}
#canvas {
    width: 600px;
    height: 600px;
    image-rendering: pixelated;
}