* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #232b2b;
}
p {
    color: #FBFAF5;
}
#canvas {
    width: 600px;
    height: 600px;
    image-rendering: pixelated;
    border: 1px solid #FBFAF5;
}
.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 30px;
    min-height: 500px;
    width: 700px;
    font-family: 'Courier New', Courier, monospace;
}

.infoSection h1 {
    font-weight: 900;
}

.infoSection div {
    margin-top: 30px;
}

.infoSection div p {
    margin-top: 10px;
}

.infoSection h1 a {
    color: yellow;
}

.infoSection h1 a:visited {
    color: yellow;
}
#selectMode {
    color: green;
}